.mainImage {
    width: 100%;
}

.mainImage:hover {
    cursor: pointer;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.correctGuess {
    background-color: lightgreen;
    color: gray;
}

.wrongGuess {
    background-color: lightcoral;
    color: white;
}