.Game {
    display: flex;
    flex-direction: column;
}

.mainImage {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    position: sticky;
    top: 100px;
    background-color: #fffab2;
}

p.openModal:hover {
    cursor: pointer;
    font-weight: bold;
}