.columnNames, .entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.columnNames {
    padding-left: 40px;
}

ol.data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.columnNames h3:first-child,
.entry p:first-child {
    text-align: left;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 50px;
        border-radius: 25px;
        height: 50px;
    }

    svg {
        width: 50px;
        border-radius: 25px;
        height: 25px;
    }
}