.Nav {
    text-align: center;
    position: sticky;
    top: 0;
    height: 100px;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background-color: black;
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 5rem;
}

.Nav h1 {
    margin: 0;
    font-family: 'BadaBoom BB';
}

.links {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li:hover {
    font-weight: bold;
}

.Nav a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.Nav p {
    margin: 0;
}