.PreGameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px 100px;
    z-index: 1000;
    border-radius: 25px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.PreGameModal h4 {
    margin: 0;
}

.targets {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;
}