.SelectMenu {
    position: absolute;
    background-color: white;
    text-align: left;

    background-color: #fffab2;
    border: 5px solid black;
    box-shadow: 10px 10px 2px black;
    font-family: 'BadaBoom BB';
    font-size: x-large;
}

.targets {
    padding: 1rem;
    margin: 0;
    list-style: none;
    font-weight: bold;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.target:hover {
    cursor: pointer;
    font-style: italic;
}